@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Lora&family=Merriweather:ital,wght@1,300;1,400;1,700&family=Open+Sans:ital@1&family=Oswald:wght@300;400&family=Playfair+Display&family=Roboto+Slab:wght@100;200;300&family=Xanh+Mono:ital@1&display=swap");

:root {
      --orange: #de0000;
      --black: #333;
      --white: #fff;
      --blue: #021626;
      --light-color: #606060;
      --light-body: #d8cdcd;
      --border: 0.2rem solid rgba(0, 0, 0, 0.1);
      --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
      font-family: "Instrument Serif", serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      background: var(--white);

}

.photography .para p {
      text-align: center;
      font-size: 40px;
      font-style: italic;
      font-weight: 200;
      color: var(--white);
}

.photography {
      margin: 8rem;
}

.containers {
      display: flex;
      width: 100%;
      min-height: 20vh;
}

.photography .card {
      width: 270px;
      height: 460px;
      margin: 50px auto 0;
      background: var(--blue);
      border: 1px solid var(--white);
      border-radius: 15px;
      perspective: 1000px;
}

.photography .card-inner {
      width: 100%;
      height: 100%;
      position: relative;
      backface-visibility: hidden;
      transition: transform 1s;
      transform-style: preserve-3d;
}

.front1,
.back {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      border: 1px solid var(--white);
      border-radius: 15px;
}

.front1 {
      background: url("../../images/enter1.jpg");
      background-size: cover;
      background-position: center;
      padding: 60px 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: var(--black);
}

.front2,
.back {
      border: 1px solid var(--white);
      border-radius: 15px;
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
}

.front2 {
      background: url("../../images/enter2.jpg");
      background-size: cover;
      background-position: center;
      padding: 60px 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: var(--black);
}

.front3,
.back {
      border: 1px solid var(--white);
      border-radius: 15px;
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
}

.front3 {
      background: url("../../images/enter3.jpg");
      background-size: cover;
      background-position: center;
      padding: 60px 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: var(--black);
}

.front4,
.back {
      border: 1px solid var(--white);
      border-radius: 15px;
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
}

.front4 {
      background: url("../../images/photo4.jpg");
      background-size: cover;
      background-position: center;
      padding: 60px 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: var(--black);
}

.front5,
.back {
      border: 1px solid var(--white);
      border-radius: 15px;
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
}

.front5 {
      background: url("../../images/dron1.jpg");
      background-size: cover;
      background-position: center;
      padding: 60px 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: var(--black);
}

.front6,
.back {
      border: 1px solid var(--white);
      border-radius: 15px;
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
}

.front6 {
      background: url("../../images/dron2.jpg");
      background-size: cover;
      background-position: center;
      padding: 60px 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: var(--black);
}

.front7,
.back {
      border: 1px solid var(--white);
      border-radius: 15px;
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
}

.front7 {
      background: url("../../images/dron9.jpg");
      background-size: cover;
      background-position: center;
      padding: 60px 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: var(--black);
}

.front8,
.back {
      border: 1px solid var(--white);
      border-radius: 15px;
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
}

.front8 {
      background: url("../../images/dron6.jpg");
      background-size: cover;
      background-position: center;
      padding: 60px 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: var(--black);
}

.back {
      background: var(--blue);
      color: var(--white);
      padding: 20px 40px;
      transform: rotateY(180deg);
}

.back h1 {
      font-size: 30px;
      line-height: 55px;
      margin-bottom: 10px;
}

.back h1 span {
      font-weight: 350;
}

.back p {
      font-size: 14px;
}

.back p span {
      font-weight: 600;
}

.back img {
      width: 100px;
      max-height: 150px;
}

.row {
      display: flex;
      align-items: center;
      margin-top: 20px;
}

.col {
      flex: 1;
      text-align: center;
      color: var(--orange);
      font-size: 15px;
      position: relative;
}

.col h2 {
      font-size: 20px;
}

.col::after {
      content: '';
      width: 1.5px;
      height: 20px;
      background: var(--white);
      position: absolute;
      top: 5px;
      right: 0;
}

.col:last-child::after {
      display: none;
}

.col p {
      margin-top: 5px;
}

.back button {
      background: var(--white);
      color: var(--orange);
      font-weight: bold;
      border: 0;
      outline: 0;
      padding: 8px 25px;
      border-radius: 30px;
      font-size: 14px;
      margin-right: 15px;
      box-shadow: 0 8px 10px reba(120, 0, 173, 0.3);
}

.back a {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
      background-color: var(--white);
}

.back a img {
      width: 50%;
}

.card:hover .card-inner {
      transform: rotateY(180deg);
}



/* our team start */
@font-face {
      font-family: Exo;
      src: url(./fonts/Exo2.0-Medium.otf);
}

.our-team {
      background-color: var(--white);
}

.main {
      width: 100%;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
}

.profile-card {
      position: relative;
      width: 240px;
      height: 310px;
      background: var(--blue);
      padding: 40px;
      border-radius: 100%;
      box-shadow: 0 0 22px var(--light-color);
      transition: .6s;
      margin: 0 30px;
}

.profile-card:hover {
      border-radius: 10px;
      height: 380px;
}

.profile-card .img {
      position: relative;
      width: 100%;
      height: 100%;
      transition: .6s;
      z-index: 99;
}

.profile-card:hover .img {
      transform: translateY(-60px);
}

.img img {
      width: 100%;
      border-radius: 50%;
      box-shadow: 0 0 22px var(--light-color);
      transition: .5s;
}

.profile-card:hover img {
      border-radius: 10px;
}

.caption {
      text-align: center;
      transform: translateY(-80px);
      opacity: 0;
      transition: .6s;
}

.profile-card:hover .caption {
      opacity: 1;
}

.caption h3 {
      font-size: 25px;
      color: var(--white);
      font-weight: 800;
}

.caption p {
      font-size: 17px;
      color: var(--white);
      margin: 2px 0 9px 0;
}

.our-team h1 {
      padding-top: 5rem;
      text-align: center;
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 60px;
      position: relative;
      color: var(--blue);
}

.our-team h1::after {
      content: '';
      width: 150px;
      height: 3px;
      background: linear-gradient(to right, #ff0000, black);
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
}

.our-team h5 {
      padding-left: 30rem;
      padding-right: 30rem;
      text-align: center;
      font-size: 1.8rem;
      color: var(--orange);
      font-weight: bold;
      margin-top: 2rem;
}

/* our team end */

body {
      background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../../images/about_bg.jpg) center center no-repeat;
      background-size: cover;
}

.bootstrap-datetimepicker-widget.bottom {
      top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
      border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
      font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
      padding: 5px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
      background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
      border-bottom-color: var(--primary);
}