@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Lora&family=Merriweather:ital,wght@1,300;1,400;1,700&family=Open+Sans:ital@1&family=Oswald:wght@300;400&family=Playfair+Display&family=Roboto+Slab:wght@100;200;300&family=Xanh+Mono:ital@1&display=swap");

:root {
      --orange :#4A148C;
      --black: #333;
      --white: #fff;
      --light-color: #8a8a8a;
      --light-body: #d8cdcd;
      --border: 0.2rem solid rgba(0, 0, 0, 0.1);
      --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
* {
      font-family: "Instrument Serif", serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body {
      background: linear-gradient(to left, rgb(255, 0, 115), #a862ff, rgb(227, 66, 255), rgb(233, 3, 233));
      background-size: 300%, 300%;
      animation: color 12s ease-in-out infinite;
}

@keyframes color {
      0% {
            background-position: 0 50%;
      }

      50% {
            background-position: 100% 50%;
      }

      100% {
            background-position: 0 50%;
      }
}
.photography .para p {
      text-align: center;
      font-size: 40px;
      font-style: italic;
      font-weight: 200;
      color: var(--orange);
}
.photography {
      margin: 8rem;
}
.containers {
      display: flex;
      width: 100%;
      min-height: 20vh;
}
.photography .card{
      width: 280px;
      height: 490px;
      margin: 50px auto 0;
      background: var(--white);
      perspective: 1000px;
}
.photography .card-inner {
      width: 100%;
      height: 100%;
      position: relative;
      backface-visibility: hidden;
      transition: transform 1s;
      transform-style: preserve-3d;
}
.front,.back {
      width: 100%;
      height: 100%;
      border-radius: 15px;
      position: absolute;
      backface-visibility: hidden;
}
.front {
      background: url(images/floral.jpg);
      background-size: cover;
      background-position: center;
      padding: 60px 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: var(--black);
}
.front img{
      object-fit: cover;
}
.front button {
      width: 120px;
      border: 1px solid var(--orange);
      background: transparent;
      border-radius: 50px;
      padding: 6px 15px;
      cursor: pointer;
      margin-top: 15px;
      color: var(--orange);
}
.back{
      background: var(--orange);
      color: var(--white);
      padding: 20px 40px;
      transform: rotateY(180deg);
}
.back h1{
      font-size: 40px;
      line-height: 55px;
      margin-bottom: 10px;
}
.back h1 span{
      font-weight: 400;
}
.back p{
      font-size: 14px;
}
.back p span{
      font-weight: 600;
}
.back img{
      width: 120px;
      max-height: 150px;
}
.row {
      display: flex;
      align-items: center;
      margin-top: 30px;
}
.col {
      flex: 1;
      text-align: center;
      color:#ea73ff;
      font-size: 15px;
      position: relative;
}
.col h2{
      font-size: 20px;
}
.col::after{
      content: '';
      width: 1.5px;
      height: 20px;
      background:var(--white);
      position: absolute;
      top: 5px;
      right: 0;
}
.col:last-child::after{
      display: none;
}
.col p{
      margin-top: 5px;
}    
.back button {
      background: var(--white);
      color: var(--orange);
      font-weight: bold;
      border: 0;
      outline: 0;
      padding: 8px 25px;
      border-radius: 30px;
      font-size: 14px;
      margin-right: 15px;
      box-shadow: 0 8px 10px reba(120, 0, 173, 0.3);
}
.back a{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-shadow: 0 5px 10px rgba(0,0,0,0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
      background-color: var(--white);
}
.back a img {
      width: 50%;
}
.card:hover .card-inner{
      transform:rotateY(180deg);
}



/* our team start */
@font-face {
      font-family: Exo;
      src: url(./fonts/Exo2.0-Medium.otf);
}
.our-team{
      background: #fff;
}
.main {
      width: 100%;
      height: 65vh;
      display: flex;
      justify-content: center;
      align-items: center;
}

.profile-card {
      position: relative;
      width: 240px;
      height: 310px;
      background: var(--orange);
      padding: 40px;
      border-radius: 100%;
      box-shadow: 0 0 22px var(--light-color);
      transition: .6s;
      margin: 0 30px;
}

.profile-card:hover {
      border-radius: 10px;
      height: 380px;
}

.profile-card .img {
      position: relative;
      width: 100%;
      height: 100%;
      transition: .6s;
      z-index: 99;
}

.profile-card:hover .img {
      transform: translateY(-60px);
}

.img img {
      width: 100%;
      border-radius: 50%;
      box-shadow: 0 0 22px var(--light-color);
      transition: .5s;
}

.profile-card:hover img {
      border-radius: 10px;
}

.caption {
      text-align: center;
      transform: translateY(-80px);
      opacity: 0;
      transition: .6s;
}

.profile-card:hover .caption {
      opacity: 1;
}

.caption h3 {
      font-size: 25px;
      color: var(--white);
      font-weight: 800;
}

.caption p {
      font-size: 17px;
      color: var(--white);
      margin: 2px 0 9px 0;
}

.title h2 {
      text-align: center;
      padding-bottom: 2rem;
      font-size: 40px;
      font-style: italic;
      font-weight: 200;
      color: var(--orange);
      font-family: "Instrument Serif", serif;
      letter-spacing: 1px;
}
.our-team h5 {
      padding-left: 25rem;
      padding-right: 25rem;
      text-align: center;
      font-size: 1.8rem;
      color: var(--orange);
      margin-top: 1rem;
      font-weight: 600;
}
/* our team end */



