@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Lora&family=Merriweather:ital,wght@1,300;1,400;1,700&family=Open+Sans:ital@1&family=Oswald:wght@300;400&family=Playfair+Display&family=Roboto+Slab:wght@100;200;300&family=Xanh+Mono:ital@1&display=swap");

:root {
  --orange: #de0000;
  --black: #333;
  --white: #fff;
  --blue: #021626;
  --light-color: #606060;
  --light-body: #d8cdcd;
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Instrument Serif", serif;
  font-size: large;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-color);
}

html {
  font-size: 69.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

section {
  padding: 3.5rem 1rem;
}

body {
  background: var(--white);

}


/* 






/* header start */
.navbar img {
  padding-right: 1rem;
  width: 68px;
  height: 50px;
}

nav {
  background-color: #021626;
}

nav .bi-person-circle {
  font-size: 2.5rem;
  color: var(--white);
}

.heading {
  text-align: center;
  font-size: 3.8rem;
  color: var(--orange);
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 2.8rem;
}

.link-btn {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--orange);
}

.link-btn:hover {
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
}

nav.navbar {
  border-bottom: var(--border);
}

.header.active {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border: 0;
}

.logo {
  font-size: 2.3rem;
  color: var(--black);
}

.header .logo span {
  font-weight: bold;
  color: var(--orange);
  font-size: 2.5rem;
}

.navbar a {
  color: var(--white);
  font-weight: 800;
}

.navbar .logo {
  color: var(--white);
  font-weight: 800;
}

.navbar a:hover {
  color: var(--white);
}

.menu-btn {
  font-size: 2.8rem;
  color: var(--black);
  cursor: pointer;
  display: none;
}

.login-btn {
  background-color: var(--orange);
  color: var(--white) !important;
  padding: 0.5rem 2rem;
  font-size: larger;
}

.log-out-btn {
  color: red;
}

.nav-item button {
  padding: 1rem 2rem;
  background: var(--orange);
  color: var(--white);
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.5s;
}

.nav-item button:hover {
  font-weight: bold;
  background: #ea73ff;
  color: black;
}

.navbar ul li {
  position: relative;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: var(--white);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.scrolling-message {
  color: var(--orange);
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
  position: absolute;
  top: 95%;
  left: -100%;
  white-space: nowrap;
  animation: scrollText 20s linear infinite;
}

@keyframes scrollText {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}

/* header end */


/* appoinment start */

.appoinment-page h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 80px;
  position: relative;
  color: var(--black);
}

.appoinment-page h1::after {
  content: '';
  width: 150px;
  height: 3px;
  background: linear-gradient(to right, #ff0000, black);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.appoinment-page {
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: 100px;
  padding-right: 100px;
  background: transparent;
}

.appoinment-form-box {
  color: var(--white);
  position: relative;
  margin: 2% auto;
  background: #021626;
  padding: 5px;
  width: 100%;
  height: 70%;
  border: 2px solid var(--orange);
  border-radius: 15px;
  padding: 1rem;
  padding-bottom: 1.5rem;
}

.input-grp {
  margin: 1rem;
  top: 100px;
}

.input-field {
  width: 100%;
  padding: 5px 5px;
  margin: 2px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border: 1px solid #999;
  outline: none;
  background: transparent;
}

.appoinment-form .btn {
  width: 150px;
  height: 50px;
  padding: 10px 10px;
  cursor: pointer;
  display: block;
  margin: auto;
  background-color: var(--orange);
  color: var(--white);
  border: 0;
  outline: none;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
}

.appoinment-form .btn:hover {
  font-weight: bold;
  color: var(--blue);
  background-color: var(--white);
}

/* appoinment end */



/* about start */
.about {
  background: var(--white);
}


.about .container {
  padding-left: 8rem;
  padding-right: 5rem;
}

.about .row {
  min-height: 70vh;
}

.about h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 80px;
  position: relative;
  color: var(--black);
}

.about h1::after {
  content: '';
  width: 150px;
  height: 3px;
  background: linear-gradient(to right, #ff0000, black);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.about .content h3 {
  font-size: 2.5rem;
  color: var(--light-color);
  margin-top: 1rem;
}

.about .content p {
  padding: 1rem 0;
  font-size: 1.7rem;
  color: var(--black);
  line-height: 2;
  font-weight: 600;
}


/* about end */



/* service start */
.services {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../../images/about_bg.jpg) center center no-repeat;
  background-size: cover;
}

.bootstrap-datetimepicker-widget.bottom {
  top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
  border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
  font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  padding: 5px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
  border-bottom-color: var(--primary);
}

.services h1 {
  padding-top: 5rem;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 80px;
  position: relative;
  color: var(--white);
}

.services h1::after {
  content: '';
  width: 150px;
  height: 3px;
  background: linear-gradient(to right, #ff0000, black);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.services .button {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background-color: var(--orange);
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--white);
}

.services .button:hover {
  background-color: var(--blue);
  color: var(--orange);
  font-weight: bold;
}

.services {
  background-color: var(--light-bg);
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  text-align: center;
  padding: 2rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  border-color: var(--box-shadow);
}

.services .box-container .box img {
  margin: 1rem 0;
  height: 4rem;
}

.services .box-container .box h3 {
  font-size: 2.5rem;
  font-weight: 500;
  padding: 1rem 0;
  color: var(--black);
}

.services .box-container .box p {
  font-size: 1.5rem;
  color: var(--black);
  line-height: 2;
}

/* service end */

/*** Facts ***/
.fact {
  padding-top: 10rem;
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../../images/four.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}




/* package start */
.packages {
  background: url(../../images/about_bg.jpg);
  width: 100%;
  height: 130vh;
}

.packages h1 {
  padding-top: 8rem;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  position: relative;
  color: var(--black);
}

.packages h1::after {
  content: '';
  width: 150px;
  height: 3px;
  background: linear-gradient(to right, #ff0000, black);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.packages .price-row {
  padding-top: 5rem;
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
}

.price-col {
  background: #021626;
  padding: 8% 15%;
  border-radius: 10px;
  color: var(--orange);
  text-align: center;
}

.price-col p {
  font-size: 22px;
  font-weight: bold;
  color: var(--white);
}

.price-col h3 {
  font-size: 36px;
  margin: 20px 0 40px;
  font-weight: 500;
  color: var(--orange);
}

.price-col ul {
  color: var(--white);
  text-align: left;
  margin: 20px 0;
  /* color: ; */
  list-style: none;
}

.price-col ul li {
  margin: 15px 0;
}

.price-col ul li::before {
  content: "\2022";
  color: var(--white);
  font-weight: bold;
  margin-right: 8px;
}

/* package end */


/* rewieve start */
.review {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 80px;
  position: relative;
  color: var(--black);
}

.review h1::after {
  content: '';
  width: 150px;
  height: 3px;
  background: linear-gradient(to right, #ff0000, black);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.review-box {
  width: 90%;
  max-width: 700px;
  height: 300px;
  border-radius: 10px;
  box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
}

.review-box .card {
  height: 300px;
  padding: 40px;
  color: var(--light-color);
  line-height: 22px;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.review .profile {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.review .profile img {
  width: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.review .profile h3 {
  font-size: 26px;
  color: var(--orange);
  margin-bottom: 8px;
  padding-left: 70px;
}

.review .profile p {
  padding-left: 70px;
}

#slider {
  width: 100%;
  padding-left: 60px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.sidebar {
  width: 60px;
  height: 100%;
  padding: 15px 0;
  box-sizing: border-box;
  background: #021626;
  position: relative;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar img {
  object-fit: cover;
}

.review .card::before {
  content: '';
  width: 110px;
  height: 110px;
  border-bottom-right-radius: 100%;
  background: #021626;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

::selection {
  background: var(--orange);
  color: #fff;
}

/* review end */


/* footer start */
footer {
  background-color: #021626;
}

footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

footer .box-container .box {
  text-align: center;
}

footer .box-container .box i {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  font-size: 2rem;
  background-color: var(--white);
  color: var(--orange);
}

footer .box-container .box h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem 0;
  color: #606060;
}

footer .box-container .box h6 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0.5rem 0;
  color: var(--white);
}

footer .box-container .box p {
  font-size: 1.5rem;
  color: var(--white);
  text-transform: none;
}

footer .box-container .box a {
  color: var(--white);
}

footer .credit {
  text-align: center;
  border-top: var(--border);
  padding-top: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--light-color);
}

footer .credit span {
  color: var(--white);
  font-weight: bold;
}

footer .link i {
  color: var(--blue);
}


/* footer end */


/* carousel start */
.carousel-slide {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
}

.carousel-item {
  height: 100vh;
}

.carousel-inner img {
  object-fit: contain;
  width: 100%;
  object-position: 0px 0px;
}

.carousel-caption {
  top: 150px;
}

.carousel-caption {
  font-family: 'Philosopher', sans-serif;
  font-style: italic;
}

.carousel-caption h3 {
  text-shadow: black -2px -2px;
  color: #fff;
  text-align: left;
  padding-top: 15rem;
  font-variant: small-caps;
  font-weight: 900;
  font-size: 48px;
}

.carousel-caption .auto-type {
  text-shadow: black -2px -2px;
  color: #fff;
  text-align: center;
  padding-top: 20rem;
  font-variant: small-caps;
  font-weight: 900;
  font-size: 25px;
}

.carousel-inner {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

/* carousel end */

.img-container {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.bi {
  line-height: 1 !important;
}

/** couple **/

.couple {
  background: #021626;
  padding-bottom: 80px;
  padding-top: 80px;
  margin-top: 80px;
}

.couple .titlepage {
  max-width: 667px;
  width: 100%;
  float: right;
  padding-bottom: 0;
}

.couple .titlepage h2 {
  padding-top: 5rem;
  font-size: 40px;
  color: var(--orange);
  display: block;
}

.couple .titlepage p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  padding: 45px 0px;
}

.whitebg {
  color: #000000;
  background: #fff;
}

.doi {
  text-align: center;
}

.doi figure {
  margin: 0;
}

.doi figure img {
  max-width: 50%;
  height: 50%;
}

/** end couple **/


/** book now start **/
.book_section h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 80px;
  position: relative;
  color: var(--black);
  padding-top: 3rem;
}

.book_section h1::after {
  content: '';
  width: 150px;
  height: 3px;
  background: linear-gradient(to right, #ff0000, black);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.book_section form {
  padding: 35px 45px;
  background-color: var(--blue);
  border-radius: 15px;
}

.book_section form label {
  color: var(--white);
}

.book_section form .form-control {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--orange);
  height: 45px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 0 15px;
}

.book_section .date_icon {
  right: 10px;
  height: 100%;
  position: absolute;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--orange);
}

.book_section .nice-select:after {
  content: "\f107";
  font-family: FontAwesome;
  border: none;
  width: auto;
  height: auto;
  -webkit-transform: none;
  transform: none;
  top: 7px;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.book_section .nice-select.open:after {
  content: "\f106";
}

.btn-box .btn {
  display: inline-block;
  padding: 0.8rem 2.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  font-size: 2rem;

  background-color: var(--white);
  color: var(--orange);
}

.btn-box .btn:hover {
  background-color: var(--orange);
  color: var(--white);
  font-weight: bold;
}

.btn-box {
  padding-left: 430px;
  padding-top: 2rem;
}

/** book now end **/


/** review start **/
.contact {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 50px;
}

.contact h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contact .form-group {
  margin-bottom: 20px;
}

.contact label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact textarea {
  resize: vertical;
}

.contact button {
  width: 150px;
  height: 50px;
  padding: 10px 10px;
  cursor: pointer;
  display: block;
  margin: auto;
  background-color: var(--blue);
  color: var(--white);
  border: 0;
  outline: none;
  border-radius: 0.5rem;
  font-size: 2rem;
}

.contact button:hover {
  color: var(--blue);
  background-color: var(--orange);
}

/** review end **/

.book_section input {
  color: white !important;
  font-size: larger;
}