@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Lora&family=Merriweather:ital,wght@1,300;1,400;1,700&family=Open+Sans:ital@1&family=Oswald:wght@300;400&family=Playfair+Display&family=Roboto+Slab:wght@100;200;300&family=Xanh+Mono:ital@1&display=swap");

:root {
  --orange: #743333;
  --black: #333;
  --white: #fff;
  --light-color: #8a8a8a;
  --light-body: #d8cdcd;
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
* {
  font-family: "Instrument Serif", serif;
  font-size: large;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  text-transform: capitalize;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}

html {
  font-size: 69.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

section {
  padding: 7rem 2rem;
}

/* header start */
.heading {
  text-align: center;
  font-size: 3.8rem;
  color: var(--black);
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 2.8rem;
}

.link-btn {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background-color: var(--orange);
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--white);
}

.link-btn:hover {
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
}

.header {
  padding: 2rem;
  border-bottom: var(--border);
}

.header.active {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border: 0;
}

.header .logo {
  font-size: 2.3rem;
  color: var(--black);
}

.header .logo span {
  font-weight: bold;
  color: var(--orange);
  font-size: 2.5rem;
}

.header .nav a {
  margin: 0 1rem;
  font-size: 1.9rem;
  color: var(--light-color);
}

.header .nav a:hover {
  color: var(--orange);
}

.menu-btn {
  font-size: 2.8rem;
  color: var(--black);
  cursor: pointer;
  display: none;
}

.login-btn {
  background-color: var(--orange);
  color: var(--white);
  padding: 1rem 3rem;
  font-size: larger;
}

.log-out-btn {
  color: red;
}
/* header end */

/* home start */
.home {
  background: linear-gradient(to left, #743333, #f6b7b7, #fddada);
}
.home nav-item {
  color: #b87200;
}
.home .content {
  padding: 2rem;
}

.home .content h3 {
  font-size: 5.8rem;
  text-transform: uppercase;
  color: var(--black);
}

.home .content p {
  line-height: 2;
  font-size: 1.9rem;
  color: var(--light-color);
  padding: 1rem 0;
}
/* home end */

/* about start */
.about .container {
  padding-left: 10rem;
}
.about .row {
  min-height: 50vh;
}

.about .content span {
  font-weight: bold;
  font-size: 2.7rem;
  color: var(--orange);
}

.about .content h3 {
  font-size: 3.2rem;
  color: var(--black);
  margin-top: 1rem;
}

.about .content p {
  padding: 1rem 0;
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 2;
}
/* about end */

/* footer start */
.footer {
  background: rgb(215, 215, 215);
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
}

.footer .box-container .box {
  text-align: center;
}

.footer .box-container .box i {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  font-size: 2rem;
  background-color: var(--orange);
  color: var(--white);
}

.footer .box-container .box h3 {
  font-size: 2rem;
  margin: 2rem 0;
  color: var(--black);
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-color);
  text-transform: none;
}

.footer .credit {
  text-align: center;
  border-top: var(--border);
  padding-top: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--light-color);
}

.footer .credit span {
  color: var(--orange);
  font-weight: bold;
}
/* footer end */

/* service start */
.hero {
  background: var(--light-body);
  width: 100%;
  position: relative;
  height: 100%;
}
.hero h1 {
  font-style: italic;
  text-align: center;
  padding-bottom: 520px;
  font-size: 30px;
  color: #743333;
}
.slide-row {
  display: flex;
  width: 3200px;
  transition: 0.5s;
}
.slide-col {
  width: 800px;
  height: 400px;
  position: relative;
}
.user-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.user-image img {
  height: 100%;
  border-radius: 10px;
}
.user-text {
  background: var(--orange);
  width: 520px;
  height: 270px;
  color: var(--white);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  padding: 45px;
  box-sizing: border-box;
  z-index: 2;
}
.user-text h3 {
  font-size: larger;
  text-align: center;
  font-style: inherit;
}
.service-container {
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.indicator {
  position: absolute;
  left: 35%;
  transform: translateX(-50%);
  bottom: -10%;
}
.btn-service {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border-radius: 15px;
  background: var(--orange);
  cursor: pointer;
  transition: 0.5s;
}
.active {
  width: 45px;
}
.section {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
/* service end */

/* package start */

.packages h2 {
  color: var(--orange);
  font-size: 32px;
  padding: 50px 0;
  text-align: center;
}
.packages .price-row {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
}
.price-col {
  background: var(--orange);
  padding: 8% 15%;
  border-radius: 10px;
  color: var(--white);
  text-align: center;
}
.price-col p {
  font-size: 22px;
}
.price-col h3 {
  font-size: 34px;
  margin: 20px 0 40px;
  font-weight: 500;
}
.price-col ul {
  text-align: left;
  margin: 20px 0;
  /* color: ; */
  list-style: none;
}
.price-col ul li {
  margin: 15px 0;
}
.price-col ul li::before {
  content: "\2022";
  color: var(--white);
  font-weight: bold;
  margin-right: 8px;
}
.price-col button {
  width: 100%;
  padding: 12px 0;
  background: transparent;
  color: var(--white);
  font-size: 18px;
  border: 1px solid var(--white);
  border-radius: 6px;
  margin-top: 30px;
  cursor: pointer;
  transition: background 0.5s;
}
.price-col button:hover {
  font-weight: bold;
  background: var(--white);
  color: var(--orange);
}

/* package end */
