@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Lora&family=Merriweather:ital,wght@1,300;1,400;1,700&family=Open+Sans:ital@1&family=Oswald:wght@300;400&family=Playfair+Display&family=Roboto+Slab:wght@100;200;300&family=Xanh+Mono:ital@1&display=swap");

:root {
  --orange: #4A148C;
  --black: #333;
  --white: #fff;
  --light-color: #8a8a8a;
  --light-body: #d8cdcd;
  --border: 0.2rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Instrument Serif", serif;
  font-size: large;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-color);
}

html {
  font-size: 69.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

section {
  padding: 3.5rem 1rem;
}

body {
  background: linear-gradient(to left, rgb(255, 0, 115), #a862ff, rgb(227, 66, 255), rgb(233, 3, 233));
  background-size: 300%, 300%;
  animation: color 12s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

/* 






/* header start */
.navbar img {
  width: 55px;
  height: 50px;
}

nav {
  background-color: var(--white);
}

nav .bi-person-circle {
  font-size: 2.5rem;
  color: var(--orange);
}

.heading {
  text-align: center;
  font-size: 3.8rem;
  color: var(--black);
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 2.8rem;
}

.link-btn {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background-color: var(--orange);
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--white);
}

.link-btn:hover {
  background-color: var(--black);
  color: var(--white);
  font-weight: bold;
}

nav.navbar {
  border-bottom: var(--border);
}

.header.active {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border: 0;
}

.logo {
  font-size: 2.3rem;
  color: var(--black);
}

.header .logo span {
  font-weight: bold;
  color: var(--orange);
  font-size: 2.5rem;
}

.navbar a {
  color: var(--orange);
  font-weight: 800;
}

.navbar .logo {
  color: var(--black);
  font-weight: 800;
}

.navbar a:hover {
  color: var(--black);
}

.menu-btn {
  font-size: 2.8rem;
  color: var(--black);
  cursor: pointer;
  display: none;
}

.login-btn {
  background-color: var(--orange);
  color: var(--white) !important;
  padding: 0.5rem 2rem;
  font-size: larger;
}

.log-out-btn {
  color: red;
}

.nav-item button {
  padding: 1rem 2rem;
  background: var(--orange);
  color: var(--white);
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.5s;
}

.nav-item button:hover {
  font-weight: bold;
  background: #ea73ff;
  color: black;
}

.navbar ul li {
  position: relative;
}

.navbar ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background: black;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

/* header end */

/* about start */
.about {
  background: var(--white);
}

.about .container {
  padding-left: 8rem;
  padding-right: 5rem;
}

.about .row {
  min-height: 60vh;
}

.about h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 80px;
  position: relative;
  color: var(--black);
}

.about h1::after {
  content: '';
  width: 150px;
  height: 3px;
  background: linear-gradient(to right, #ff0000, #0022ff);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.about .content h3 {
  font-size: 2.5rem;
  color: var(--orange);
  margin-top: 1rem;
}

.about .content p {
  padding: 1rem 0;
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 2;
  font-weight: 600;
}


/* about end */



/* service start */
.services h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 80px;
  position: relative;
  color: var(--white);
}

.services h1::after {
  content: '';
  width: 150px;
  height: 3px;
  background: linear-gradient(to right, #ff0000, #0022ff);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.services .btn {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background-color: #a357ff;
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--black);
}

.services .btn:hover {
  background-color: var(--orange);
  color: var(--white);
  font-weight: bold;
}

.services {
  background-color: var(--light-bg);
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  text-align: center;
  padding: 2rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
}

.services .box-container .box img {
  margin: 1rem 0;
  height: 4rem;
}

.services .box-container .box h3 {
  font-size: 2.5rem;
  font-weight: 500;
  padding: 1rem 0;
  color: var(--black);
}

.services .box-container .box p {
  font-size: 1.5rem;
  color: var(--black);
  line-height: 2;
}

/* service end */




/* footer start */
footer {
  padding-top: 3rem;
  margin: 0;
  background: linear-gradient(to left, rgb(255, 0, 115), #a862ff, rgb(227, 66, 255), rgb(233, 3, 233));
  background-size: 300%, 300%;
  animation: color 12s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

footer .box-container .box {
  text-align: center;
}

footer .box-container .box i {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  font-size: 2rem;
  background-color: var(--white);
  color: var(--orange);
}

footer .box-container .box h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem 0;
  color: var(--orange);
}

footer .box-container .box p {
  font-size: 1.6rem;
  color: var(--white);
  text-transform: none;
}

footer .box-container .box a {
  color: var(--white);
}

footer .credit {
  text-align: center;
  border-top: var(--border);
  padding-top: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
  color: black;
}

footer .credit span {
  color: var(--white);
  font-weight: bold;
}

/* footer end */


/* service start 
  width: 100%;
  position: relative;
  height: 100%;
}
.hero h1 {
  font-style: italic;
  text-align: center;
  padding-bottom: 520px;
  font-size: 30px;
  color: var(--orange);
}
.slide-row {
  display: flex;
  width: 3200px;
  transition: 0.5s;
}
.slide-col {
  width: 800px;
  height: 400px;
  position: relative;
}
.user-text {
  background: var(--orange);
  width: 520px;
  color: var(--white);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  padding: 45px;
  box-sizing: border-box;
  z-index: 2;
}
.user-text h3 {
  font-size: larger;
  text-align: center;
  font-style: inherit;
}
.service-container {
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.indicator {
  position: absolute;
  left: 35%;
  transform: translateX(-50%);
  bottom: -0.5%;
}
.btn-service {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border-radius: 15px;
  background: var(--orange);
  cursor: pointer;
  transition: 0.5s;
}
 */

/* package start */
.packages h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 80px;
  position: relative;
  color: var(--white);
}

.packages h1::after {
  content: '';
  width: 150px;
  height: 3px;
  background: linear-gradient(to right, #ff0000, #0022ff);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.packages .price-row {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
}

.price-col {
  background: var(--white);
  padding: 8% 15%;
  border-radius: 10px;
  color: var(--orange);
  text-align: center;
}

.price-col p {
  font-size: 22px;
  font-weight: bold;
}

.price-col h3 {
  font-size: 36px;
  margin: 20px 0 40px;
  font-weight: 500;
}

.price-col ul {
  text-align: left;
  margin: 20px 0;
  /* color: ; */
  list-style: none;
}

.price-col ul li {
  margin: 15px 0;
}

.price-col ul li::before {
  content: "\2022";
  color: var(--orange);
  font-weight: bold;
  margin-right: 8px;
}

.transparent-button {
  padding: 12px 0;
  background: transparent;
  color: var(--orange);
  font-size: 18px;
  border: 1px solid var(--orange);
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.5s;
}

.price-col button {
  width: 100%;
}

.transparent-button:hover {
  font-weight: bold;
  background: var(--white);
  color: var(--orange);
}

/* package end */


/* rewieve start */
.review {
  width: 100%;
  height: 85vh;
  background: #f6fbff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.review h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 80px;
  position: relative;
  color: var(--black);
}

.review h1::after {
  content: '';
  width: 150px;
  height: 3px;
  background: linear-gradient(to right, #ff0000, #0022ff);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.review-box {
  width: 90%;
  max-width: 700px;
  height: 300px;
  border-radius: 10px;
  box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
}

.review-box .card {
  height: 300px;
  padding: 40px;
  color: #777;
  line-height: 22px;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.review .profile {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.review .profile img {
  width: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.review .profile h3 {
  font-size: 26px;
  color: var(--orange);
  margin-bottom: 8px;
}

#slider {
  width: 100%;
  padding-left: 60px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.sidebar {
  width: 60px;
  height: 100%;
  padding: 15px 0;
  box-sizing: border-box;
  background: var(--orange);
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar img {
  object-fit: cover;
}

.review .card::before {
  content: '';
  width: 110px;
  height: 110px;
  border-bottom-right-radius: 100%;
  background: var(--orange);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

::selection {
  background: var(--orange);
  color: #fff;
}

/* review end */


/* appoinment start */

.appoinment-page h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 80px;
  position: relative;
  color: var(--white);
}

.appoinment-page h1::after {
  content: '';
  width: 150px;
  height: 3px;
  background: linear-gradient(to right, #ff0000, #0022ff);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.appoinment-page {
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: 100px;
  padding-right: 100px;
  background: transparent;
}

.appoinment-form-box {
  position: relative;
  margin: 2% auto;
  background: #fff;
  padding: 5px;
  width: 100%;
  height: 70%;
  border: 2px solid var(--white);
  border-radius: 15px;
  padding: 1rem;
  padding-bottom: 1.5rem;
}

.input-grp {
  margin: 1rem;
  top: 100px;
}

.input-field {
  width: 100%;
  padding: 5px 5px;
  margin: 2px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border: 1px solid #999;
  outline: none;
  background: transparent;
}

.appoinment-form .btn {
  width: 150px;
  height: 50px;
  padding: 10px 10px;
  cursor: pointer;
  display: block;
  margin: auto;
  background-color: #a357ff;
  color: var(--black);
  border: 0;
  outline: none;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
}

.appoinment-form .btn:hover {
  font-weight: bold;
  color: var(--white);
  background-color: var(--orange);
}

/* carousel end */




/* carousel start */
.carousel-slide {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
}

.carousel-item {
  height: 100vh;
}

.carousel-inner img {
  object-fit: contain;
  width: 100%;
  object-position: 0px 0px;
}

.carousel-caption {
  top: 150px;
}

.carousel-caption {
  font-family: 'Philosopher', sans-serif;
  font-style: italic;
}

.carousel-caption h3 {
  text-shadow: black -2px -2px;
  color: #fff;
  text-align: center;
  padding-top: 20rem;
  font-variant: small-caps;
  font-weight: 900;
  font-size: 48px;
}

.carousel-caption .auto-type {
  text-shadow: black -2px -2px;
  color: #fff;
  text-align: center;
  padding-top: 20rem;
  font-variant: small-caps;
  font-weight: 900;
  font-size: 25px;
}

.carousel-inner {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

/* carousel end */

.img-container {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.bi {
  line-height: 1 !important;
}